; Personal NPM
@jych:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken={{ (onepassword "lhi4pdqdbncytvaht3f72yntie").details.password }}

; Font Awesome NPM
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken={{ (onepassword "r474nv4epbt74woqdus73ln6ri").details.password }}

