; NPME @ R3PI
//registry.npm.r3pi.net/:_authToken={{ pass "work/npme-token" }}
@r3pi:registry=https://registry.npm.r3pi.net/

; NPM
//registry.npmjs.org/:_authToken={{ pass "me/npm-token" }}
@jych:registry=https://registry.npmjs.org/

